[Unit]
Description=Prometheus Apache Exporter
Documentation=https://github.com/shumbashi/httpd_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
ExecStart=/usr/local/bin/apache_exporter \
    -scrape_uri "{{ apache_exporter_scrape_url }}" \
    -telemetry.address ":{{ apache_exporter_port }}"

[Install]
WantedBy=multi-user.target